<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>

    <link href="assets/css/styles.css" rel="stylesheet">

    {% seo %}
    {% feed_meta %}
  </head>
  <body class="{% if page.url == '/' %}home{% endif %}">
    {% include navbar.html %}

    <div class="jumbo">
      <div class="texto">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>

        <a class="btn btn-primary" data-turbolinks="false" href=".#dossier">{{ site.i18n.more }}</a>
      </div>

      <figure>
        <img src="{{ 'assets/obediencia.png' | thumbnail: 500 }}">
        <figcaption>
          {{ site.i18n.image_by }}
          <a href="https://copiona.com/~grafica.html" target="_blank" rel="noopener">librenauta</a>
        </figcaption>
      </figure>
    </div>

    <main id="dossier" class="container">
      <div class="row justify-content-center d-print-block">
        <div class="col-md-8">
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
      {{ site.i18n.footer.attribution | markdownify }}
    </footer>

    <script type="text/javascript">
      document.addEventListener('turbolinks:load', () => {
        document.querySelectorAll("a[href^='http://'], a[href^='https://'], a[href^='//']").forEach(a => a.target = '_blank');
        document.querySelectorAll("a.footnote-backref, a[id^='fnref']").forEach(a => a.dataset.turbolinks = false);
      });
    </script>
  </body>
</html>
